html{
    font-size: 15px !important;
    background: #121212;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #121212;
    color: #fff;
}

p{
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 12px;
}

h4{
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

a{
    color: #fff;
}


.uk-subnav-pill>.uk-active>a{
    background: #01EB78;
    border-radius: 10px;
}

.uk-subnav{
    margin-top: 15px;
    flex-wrap: nowrap;
    overflow: scroll;
}

.uk-navbar-container:not(.uk-navbar-transparent){
    background: #121212;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.uk-navbar-left{
    gap: 10px;
}

.uk-width-3-4.home{
    width: 87%;
}

.fa-solid.menu{
    font-size: 18px;
    color: red;
}

.fa-solid.slide{
    color: red;
}

.logo{
    width: 100px;
}

.cover{
    border-radius: 20px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.cover.movie{
    border-radius: 15px;
}

.banner{
    border-radius: 15px;
}

.year-movie{
    font-size: 12px;
    color: red;
}

.color-text{
    color: red;
}

.arriba{
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.arriba-icon{
    padding: 10px;
    background-color: #01EB78;
    border-radius: 100%;
    font-size: 18px;
    color: #fff;
}

.btn-policy{
    background: #01EB78;
    color: #fff;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 30px;
    border-radius: 8px;
}

.modal-txt{
    color: #121212;
}
